<h2 class="drinks__title">BOISSON</h2>
<%= render 'shared/drinks_category' %>

<div class="drinks">

  <h2 class="drinks__title">Par catégorie</h2>
  
  <details class="drinks__details">
    <summary class="drinks__summary">Boisson Fraîche</summary>
    <%= render 'shared/product_card', :locals=> { :category => "Boisson Fraîche" } %>
  </details>

  <details class="drinks__details">
    <summary class="drinks__summary">Thé et Café froid</summary>
    <%= render 'shared/product_card', :locals=> { :category => "Thé & Café froid" } %>
  </details>

  <details class="drinks__details">
    <summary class="drinks__summary">Boisson Chaude</summary>
    <%= render 'shared/product_card', :locals=> { :category => "Boisson chaude" } %>
  </details>

  <details class="drinks__details">
    <summary class="drinks__summary">Petit déjeuner</summary>
    <%= render 'shared/product_card', :locals=> { :category => "Petit Dej" } %>
  </details>

  <details class="drinks__details">
    <summary class="drinks__summary">Jus de fruits frais</summary>
    <%= render 'shared/product_card', :locals=> { :category => "Jus de fruits Frais" } %>
  </details>

  <details class="drinks__details">
    <summary class="drinks__summary">Cocktail</summary>
    <%= render 'shared/product_card', :locals=> { :category => "Cocktail" } %>
  </details>

  <details class="drinks__details">
    <summary class="drinks__summary">Bière</summary>
    <%= render 'shared/product_card', :locals=> { :category => "Bière" } %>
  </details>

  <details class="drinks__details">
    <summary class="drinks__summary">Le vin des copains</summary>
    <%= render 'shared/product_card', :locals=> { :category => "Vin" } %>
  </details>
    

  <details class="drinks__details">
    <summary class="drinks__summary">Alcool</summary>
    <%= render 'shared/product_card', :locals=> { :category => "Alcool" } %>
  </details>

  <details class="drinks__details">
    <summary class="drinks__summary">Apéritif</summary>
    <%= render 'shared/product_card', :locals=> { :category => "Apéritif" } %>
  </details>
    

  <details class="drinks__details">
    <summary class="drinks__summary">Liqueur</summary>
    <%= render 'shared/product_card', :locals=> { :category => "Liqueur" } %>
  </details>
</div>
