<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/numama/image/upload/v1619053648/EUROPE/cocktails_hg43il.jpg);">
  <div class="container">
    <h1>BAR DE L'EUROPE</h1>
    <p>SAN FIURENZU</p>

    <h5>Nous réouvrons bientôt ;-) </h5>
  </div>
</div>
    <%= render 'shared/drinks_category' %>

  <h5 class="text-primary text-center mt-5">Boisson Fraîche</h5>

    <% @drinks.where(category: 'Boisson Fraîche').each do |drink| %>
          <h5 class="text-uppercase"> <%= drink.name %> </h5>

        <div class="d-flex justify-content-between">
          <h6> <%= drink.description %></h6>
          <h6> <%= drink.cl %></h6>

          <h6 class="text-muted"> € <%= drink.price %></h6>
        </div>


    <% end %>
    <%#= render 'shared/softs' %>
  <hr>
  <h1 class="text-primary text-center mt-3">Thé et Café froid</h1>
   <%= render 'shared/cafesfroids' %>
  <hr>
  <h1 class="text-primary text-center mt-3">Boisson Chaude</h1>
    <%= render 'shared/chauds' %>
  <hr>
  <h1 class="text-primary text-center mt-3">Petit déjeuner</h1>
    <%= render 'shared/petitdejeuner' %>
  <hr>
  <h1 class="text-primary text-center mt-3">Jus de fruits frais</h1>
    <%= render 'shared/jusfrais' %>
  <hr>
  <h1 class="text-primary text-center mt-3">Cocktail</h1>
    <%= render 'shared/cocktails' %>
  <hr>
  <h1 class="text-primary text-center mt-3">Bière</h1>
    <%= render 'shared/beers' %>
  <hr>
  <h1 class="text-primary text-center mt-3">Le vin des copains</h1>
    <%= render 'shared/vins' %>
  <hr>
  <h1 class="text-primary text-center mt-3">Alcool</h1>
    <%= render 'shared/alcool' %>
  <hr>
  <h1 class="text-primary text-center mt-3">Apéritif</h1>
    <%= render 'shared/aperitifs' %>
  <hr>
  <h1 class="text-primary text-center mt-3">Liqueur</h1>
    <%= render 'shared/liqueurs' %>
