<div class="drinks-category">
  <%= link_to softs_path, :class=> "drinks-category__link" do %>
  BOISSONS FRAÎCHES
  <% end %>

  <%= link_to chauds_path, :class => "drinks-category__link" do %>
    BOISSONS CHAUDES
  <% end %>

  <%= link_to cafesfroids_path, :class => "drinks-category__link" do %>
    THÉ / CAFÉ FROID
  <% end %>

  <%= link_to jusfrais_path, :class => "drinks-category__link" do %>
    JUS DE FRUITS FRAIS
  <% end %>

  <%= link_to vins_path, :class => "drinks-category__link" do %>
    Vin
  <% end %>

  <%= link_to beers_path, :class => "drinks-category__link" do%>
    BIÉRE
  <% end %>

  <%= link_to alcool_path, :class => "drinks-category__link" do %>
    ALCOOL
  <% end %>

  <%= link_to cocktails_path, :class => "drinks-category__link" do %>
    Cocktail
  <% end %>

  <%= link_to aperitifs_path, :class => "drinks-category__link" do %>
    Aperitif
  <% end %>

  <%= link_to liqueurs_path, :class => "drinks-category__link" do %>
    Liqueur
<% end %>
</div>
