<div class="container d-flex justify-content-between mt-2 text-primary quickmenu">

    <%= link_to chauds_path do  %>
    <h3><i class="fas fa-coffee"></i></h3>
  <% end %>
     <%= link_to aperitifs_path do  %>
    <h3><i class="fas fa-glass-cheers"></i></h3>
  <% end %>

  <%= link_to cocktails_path do  %>
    <h3><i class="fas fa-cocktail"></i></h3>
  <% end %>

    <%= link_to beers_path do  %>
    <h3><i class="fas fa-beer"></i></h3>
  <% end %>
    <%= link_to vins_path do  %>
    <h3><i class="fas fa-wine-bottle"></i></h3>
  <% end %>

   <%= link_to foods_path do  %>
    <h3><i class="fas fa-utensils"></i></h3>
  <% end %>
     <%= link_to icecreams_path do  %>
    <h3><i class="fas fa-ice-cream"></i></h3>
  <% end %>


</div>
