
<div class="d-flex justify-content-center">

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card-beer m-2">
        <img src="https://res.cloudinary.com/numama/image/upload/v1620309089/EUROPE/pression_abnsgi.png" class="card-img-top" alt="...">
        <div class="card-body">
            <div class="card-body">
          <h5 class="card-title">RIBELLA – RIBELLA</h5>
            <h6 class="card-title">Bière Bio Blonde Ale | 100% orge corse</h6>
            <p class="card-text">Bière à la pression | La Ribella Ribella est une lager 100% corse créant le style de la Corsican Lager. Désaltérante et raffinée.</p>
          </div>
            <hr>
            <p class="card-text text-right"><small class="text-muted"> Galopin | 12,5 cl | € 2,00 </small></p>
            <p class="card-text text-right"><small class="text-muted"> Demi | 25 cl | € 3,80 </small></p>
            <p class="card-text text-right"><small class="text-muted"> Pinte | 50 cl | € 7,40 </small></p>
          </div>
      </div>
    </div>
      <div class="col">
        <div class="card-beer m-2">
          <img src="https://res.cloudinary.com/numama/image/upload/v1620309384/EUROPE/beerambre_olslys.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <div class="card-body">
            <h5 class="card-title">SANTA – RIBELLA</h5>
              <h6 class="card-title">Bière Bio Ambrée | Bière Bio Ambrée</h6>
              <p class="card-text">Bière à la pression | Réconfortante et gourmande, cette Milk Stout à la noisette IGP de Cervione.</p>
              <!-- <p class="card-text"><small class="text-muted">5 médailles d'argent au Concours Général de Paris, coup de coeur du Guide Hachette des Bières</small></p> -->
            </div>
              <hr>
              <p class="card-text text-right"><small class="text-muted"> Galopin | 12,5 cl | € 2,30 </small></p>
              <p class="card-text text-right"><small class="text-muted"> Demi | 25 cl | € 4,30 </small></p>
              <p class="card-text text-right"><small class="text-muted"> Pinte | 50 cl | € 8,40 </small></p>
          </div>
        </div>
      </div>
      <div class="col">
      <div class="card-beer m-2">
      <img src="https://res.cloudinary.com/numama/image/upload/v1623349647/EUROPE/Captura_de_Tela_2021-06-10_a%CC%80s_15.27.00_ulvhh0.png" class="card-img-top" alt="...">
        <div class="card-body">
            <div class="card-body">
          <h5 class="card-title">FILLE DE JOIE - RIBELLA</h5>
            <h6 class="card-title">Milk Shake IPA Abricot - Romarain</h6>
          </div>
            <hr>
            <p class="card-text text-right"><small class="text-muted"> 33 cl | € 6,00 </small></p>
          </div>
      </div>
    </div>
    <div class="col">
      <div class="card-beer m-2">
      <img src="https://res.cloudinary.com/numama/image/upload/v1623349596/EUROPE/saleccia_j7w47v.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <div class="card-body">
          <h5 class="card-title">SALECCIA - RIBELLA</h5>
            <h6 class="card-title">Beach Gose Eau de Mer - Lime de Tahiti</h6>
          </div>
            <hr>
            <p class="card-text text-right"><small class="text-muted"> 33 cl | € 6,00 </small></p>
          </div>
      </div>
    </div>
    <div class="col">
      <div class="card-beer m-2">
      <img src="https://res.cloudinary.com/numama/image/upload/v1623349596/EUROPE/eroina_wcskh0.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <div class="card-body">
          <h5 class="card-title">EROINA - RIBELLA</h5>
            <h6 class="card-title">Meipa Pomelos</h6>
          </div>
            <hr>
            <p class="card-text text-right"><small class="text-muted"> 33 cl | € 6,00 </small></p>
          </div>
      </div>
    </div>
  <div class="col">
      <div class="card-beer m-2">
      <img src="https://res.cloudinary.com/numama/image/upload/v1623349777/EUROPE/Captura_de_Tela_2021-06-10_a%CC%80s_15.29.19_jb4cvu.png" class="card-img-top" alt="...">
        <div class="card-body">
            <div class="card-body">
          <h5 class="card-title">MISTICA - RIBELLA</h5>
            <h6 class="card-title">Stout - Farine de Châtaigne - AOP Corse</h6>
          </div>
            <hr>
            <p class="card-text text-right"><small class="text-muted"> 33 cl | € 6,00 </small></p>
          </div>
      </div>
    </div>
  <div class="col">
      <div class="card-beer m-2">
        <img src="https://res.cloudinary.com/numama/image/upload/v1620272409/pvwx56tladye0l1awpii9vsg49af.png" class="card-img-top" alt="...">
        <div class="card-body">
            <div class="card-body">
          <h5 class="card-title">PANACHÉ</h5>
            <h6 class="card-title">Bière Bio Blonde Ale + Limonade</h6>
          </div>
            <hr>
            <p class="card-text text-right"><small class="text-muted"> Demi | 25 cl | € 3,80 </small></p>
            <p class="card-text text-right"><small class="text-muted"> Pinte | 50 cl | € 7,40 </small></p>
          </div>
      </div>
    </div>
    <div class="col">
      <div class="card-beer m-2">
      <img src="https://res.cloudinary.com/numama/image/upload/v1620272514/n8cmct4lqni83iz7pu6i806sx3zz.png" class="card-img-top" alt="...">
        <div class="card-body">
            <div class="card-body">
          <h5 class="card-title">MONACO</h5>
            <h6 class="card-title">Bière Bio Blonde Ale + Limonade + Grenadine</h6>
          </div>
            <hr>
            <p class="card-text text-right"><small class="text-muted"> Demi | 25 cl | € 3,80 </small></p>
            <p class="card-text text-right"><small class="text-muted"> Pinte | 50 cl | € 7,40 </small></p>
          </div>
      </div>
    </div>
    <div class="col">
      <div class="card-beer m-2">
      <img src="https://res.cloudinary.com/numama/image/upload/v1620310621/EUROPE/picon_xlflou.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <div class="card-body">
          <h5 class="card-title">PICON BIERE</h5>
            <h6 class="card-title">Bière Bio Blonde Ale + Picon</h6>
          </div>
            <hr>
            <p class="card-text text-right"><small class="text-muted"> Demi | 25 cl | € 4,50 </small></p>
            <p class="card-text text-right"><small class="text-muted"> Pinte | 50 cl | € 8,50 </small></p>
          </div>
      </div>
    </div>
  </div>
</div>


  <% @drinks.where(category: 'Bière', subcat: 'Bouteille').each do |drink| %>

  <div class="card-product">
      <%= image_tag drink.photo, class: "card-product__img", alt: "Card image cap" %>
    <div class="card-product__infos">
      <h2 class="card-product__title"> <%= drink.name %> </h2>
      <p class="card-product__description"> <%= drink.description %></p>
      <div class="d-flex justify-content-around flex-column">
        <%= link_to "edit", edit_drink_path(drink), class: "btn btn-sm btn-outline-primary" %>
      <p class="card-product__price"> <%= drink.cl %> | € <%= drink.price %></p>
      </div>

    </div>
  </div>
  <% end %>
<%# else %>

<!--   <%# @drinks.where(category: "Bière", subcat: "Bouteille").each do |drink| %>
  <div class="card-product">
      <%#= image_tag drink.photo, class: "card-product__img", alt: "Card image cap" %>
    <div class="card-product__infos">
      <h2 class="card-product__title"> <%#= drink.name %> </h2>
      <p class="card-product__description"> <%#= drink.description %></p>
      <p class="card-product__price"> <%#= drink.cl %> | € <%#= drink.price %></p>

    </div>
  </div>
  <%# end %>
<%# end %> -->

