<%= render 'shared/banner' %>
<hr>
<!-- depending on server time, it will render a specific partial -->
<% if DateTime.now >= Time.parse("14:00") && DateTime.now <= Date.today + 25.hours %>
  <%= render 'shared/night_categories' %>
<% elsif DateTime.now >= Time.parse("10:00") && DateTime.now < Time.parse("15:00")%>
  <%= render 'shared/midday_categories' %>
<% else %>
  <%= render 'shared/morning_categories' %>
<% end %>
<hr>
<%= render 'shared/intro' %>
<div id="pixlee_container"></div>
<div id="pixlee_container"></div>
<script type="text/javascript">
  window.PixleeAsyncInit = function() {Pixlee.init({apiKey:'z4XBdBpp_3XleiFNyCt3'});Pixlee.addSimpleWidget({widgetId:'33247'});};
</script><script src="//instafeed.assets.pxlecdn.com/assets/pixlee_widget_1_0_0.js"></script>