<% if user_signed_in?  %>
  <% @drinks.where(category: 'Vin').each do |drink| %>
  <div class="card-product">
      <%= image_tag drink.photo ,  class: "card-product__img", alt: "Card image cap" %>
    <div class="card-product__infos">
      <h2 class="card-product__title"> <%= drink.name %> </h2>
      <p class="card-product__description"> <%= drink.description %></p>
      <div class="d-flex justify-content-between">
        <%= link_to "edit", edit_drink_path(drink), class: "btn btn-sm btn-outline-primary"  %>
      <p class="card-product__price"> <%= drink.cl %> | € <%= drink.price %></p>
      </div>

    </div>
  </div>
  <% end %>
<% else %>
  <% @drinks.where(category: 'Vin').each do |drink| %>
  <div class="card-product">
      <%= image_tag drink.photo ,  class: "card-product__img", alt: "Card image cap" %>
    <div class="card-product__infos">
      <h2 class="card-product__title"> <%= drink.name %> </h2>
      <p class="card-product__description"> <%= drink.description %></p>
      <p class="card-product__price"> <%= drink.cl %> | € <%= drink.price %></p>

    </div>
  </div>
  <% end %>
<% end %>
