<div class="text-center">
Café, canistrelli, Caramel-beurre salé, Castagna, Cédrat Corse, Chocolat noir, Citron, Clémentine IGP corse, Fraise, Framboise, Griotte, Menthe du jardin, Miel AOP corse, Myrte, Noix de coco, Nougat, Nebbiulina (nutella corse), Pêche de vigne, Pistache, Rhum-raisin, Vanille
</div>
  <div class="text-center">
    La Boule: 3,20 
  </div>
  <div class="text-center">
    Chantilly:1,60
  </div>
  <div class="text-center">
    Chocolat Maison: 2,00
  </div>
<% @icecreams.each do |icecream| %>
  <% if user_signed_in?  %>
      <div class="card-product">
        <%= image_tag icecream.photo ,  class: "card-product__img", alt: "Card image cap" %>
        <div class="card-product__infos">
          <h5 class="card-product__title"><%= icecream.name %></h5>
          <p class="card-product__description"><%= icecream.description %></p>
          <p class="card-product__price"><small class="text-muted">  € <%= icecream.price %> </small></p>
          <%= link_to "edit", edit_icecream_path(icecream), class: "btn btn-sm btn-outline-primary"  %>
        </div>
      </div>

  <% else %>
    <div class="card-product">
      <%= image_tag icecream.photo ,  class: "card-product__img", alt: "Card image cap" %>
      <div class="card-product__infos">
        <h5 class="card-product__title"><%= icecream.name %></h5>
        <p class="card-product__description"><%= icecream.description %></p>
        <p class="card-product__price"><small class="text-muted">  € <%= icecream.price %> </small></p>
      </div>
    </div>
  <% end %>
<% end %>