<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>BAR DE L'EUROPE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "favicon.ico" %>
    <meta name="description" content="Bar de l'Europe, nous sommes á votre disposition pour vous proposer les meilheurs produits de notre belle région autonome">
    <meta property="og:image" content="https://res.cloudinary.com/numama/image/upload/v1649906396/EUROPE/OG_EUROPE_mg02yz.png">
    <meta property="og:url" content="www.discop.tv">
    <meta property="og:title" content="BAR DE L'EUROPE - SAN FIURENZU ">
    <meta property="og:description" content="Bienvenu(e) au Bar de L’Europe, nous mettons notre savoir faire à votre disposition pour vous offrir le meilleur des Produits locaux de notre région.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>

    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload", defer: true %>
  </head>

  <body class="home">
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <main class="home__menu">
      <%= yield %>
    </main>
    <%= render "shared/quickmenu" %>
    <%= render "shared/footer" %>
  </body>
</html>
